<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Todo List</title>
</head>
<body>
    <div class="box" id="heading">
        <h1><%= date %></h1>
    </div>

    <div class="box">
        <div class="item">

            <%if(PItem != "") { %>
            <% for(var i=0 ;i<item.length;i++){ %>
                <input type="checkbox">
                <p><%=item[i]%></p>
                <%}}%>
        </div>

        <form class="item" action="/" method="post">
            <input type="text" name='todo' placeholder="New item" autocomplete="off">
            <button type="submit">+</button>
        </form>
    </div>
    
</body>
</html>